#header {
    width: 100%;
    height: 85px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #333;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}
#header h1#logo {
    display: inline-block;
    height: 70px;
    line-height: 71px;
    float: left;
    font-family: Lato", sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 200;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#header nav {
    display: inline-block;
    float: right;
}
#header nav a {
    line-height: 85px;
    margin-left: 14px;
    color: white;
    font-weight: 700;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#header nav a:hover {
    color: #017eff;
}
#header.smaller {
    height: 50px;
}
.twitchLink{
	color: white;
}
.twitchLink:hover{
	color: #017eff;
}
#header.smaller h1#logo {
    width: 15 0px;
    height:35px;
    line-height: 35px;
    font-size: 20px;
}
#header img{
	height: 70px;
	width: 70px;
}
#header.smaller img{
	height: 40px;
	width: 40px;
	margin-right: 10px;
}
#header.smaller nav a {
    line-height: 20px;
}

@media all and (max-width: 660px) {
    #header h1#logo {
        display: block;
        float: none;
        margin: 0 auto;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }
    #header nav {
        display: block;
        float: none;
        height: 50px;
        text-align: center;
        margin: 0 auto;
    }
    #header nav a {
        line-height: 50px;
        margin: 0 10px;
    }
    #header.smaller {
        height: 50px;
    }
    #header.smaller h1#logo {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
    }
    #header.smaller nav {
        height: 35px;
    }
    #header.smaller nav a {
        line-height: 35px;
    }
}